.mercury-wrap {
  background: url("images/photo-1431184052543-809fa8cc9bd6.jpg.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding-top: 100px;
}

.admin-block {
  width: 70%;
  margin: 0 auto;
}
.logo {
  float: left;
}